div{
    background-color: black;
    width: 20%;
    height: 300px;
    border: solid;
    padding: 10px;
    float: left;
    margin: 10px;
    border-radius: 10% 10% 10%;
}

body{
    text-align: center;
    background-color: gray;
}

img{
    width: 100%;
    height: 45%;
}

h4{
    color: white;
}

a{
    color: skyblue;
}